In [2]:
import argparse
import scanpy as sc
import plotnine as plt9
import pandas as pd
import numpy as np
import matplotlib as plt
import os
%load_ext autoreload
%autoreload 2
import anndata
import seaborn as sns
import logging
import scipy.stats
import csv

In [3]:
import scanpy as sc
import pandas as pd
#import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fpath="/home/ubuntu/ubuntu/sc_ibd_project/ti_atlas/data/gut-freeze003/ti-cd_healthy/analysis/adata_updated/adata.h5ad"
adata=sc.read(fpath)

In [7]:
df=adata.obs.copy()
df=df[['sanger_sample_id', "disease_status"]]

In [1]:
res = pd.DataFrame(columns=adata.var_names, index=adata.obs['cell_type'].cat.categories) 
for i in cell_types:
    tmp=adata[adata.obs['cell_type']==i]
    df=tmp.layers['log1p_cp10k'].mean(0)
    res.loc[i] = tmp.layers['log1p_cp10k'].mean(0)

NameError: name 'pd' is not defined

In [43]:
df1=df.groupby(["disease_status", 'sanger_sample_id']).size().reset_index()
df1=df1.rename(columns={0: "n_cells"})
df1=df1[df1.n_cells!=0]

In [44]:
df1.groupby(["disease_status"]).mean().round()

                n_cells
disease_status
cd               3715.0
healthy          1874.0

In [25]:
df1.n_cells.sum()

141597

In [45]:
3715*26+1874*25

143440