In [1]:
import argparse
import scanpy as sc
import plotnine as plt9
import pandas as pd
import numpy as np
import matplotlib as plt
import os
%load_ext autoreload
%autoreload 2
import anndata
import seaborn as sns
import logging
import scipy.stats
import csv

In [2]:
import scanpy as sc
import pandas as pd
#import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fpath1="/home/ubuntu/ubuntu/sc_ibd_project/ti_atlas/data/gut-freeze003/auto-annot-121/adata/anderson_ti_freeze003_001-MT_100-cohort_Discovery.h5ad"
adata1=sc.read(fpath1)  

fpath2="/home/ubuntu/ubuntu/sc_ibd_project/ti_atlas/data/gut-freeze003/auto-annot-121/adata/anderson_ti_freeze003_001-MT_100-cohort_Replication.h5ad"
adata2=sc.read(fpath2)

In [ ]:
df1=adata1.obs.copy()
df2=adata2.obs.copy()

df1['cohort']="Discovery"
df2['cohort']="Replication"

In [ ]:
df1=df1.groupby(["disease_status", 'sanger_sample_id']).size().reset_index()
df1=df1.rename(columns={0: "n_cells"})
df1=df1[df1.n_cells!=0]
df1.groupby(["disease_status"]).mean().round()

In [ ]:
df2=df2.groupby(["disease_status", 'sanger_sample_id']).size().reset_index()
df2=df2.rename(columns={0: "n_cells"})
df2=df2[df2.n_cells!=0]
df2.groupby(["disease_status"]).mean().round()

In [7]:
df1.n_cells.sum()

187361

In [8]:
df2.n_cells.sum()

254551

In [12]:
df=pd.concat([df1,df2], axis=0)
df.groupby(["disease_status"]).mean().round()

                n_cells
disease_status
cd               5065.0
healthy          2657.0